 .App {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 8px;
}

.current_day_info_border {
      grid-row: span 2 / span 2;
      margin: 30px;
      padding: 10px;
      border-radius: 20px;
      background: linear-gradient(107deg, rgba(34,135,203,255) 0%, rgba(70,165,222,255) 100%);
      width: 420px;
      height: 220px;
      position: relative;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

 .current_day_info {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 20px;
     background: linear-gradient(107deg, rgba(22,157,239,255) 0%, rgba(85,186,238,255) 100%);
     width: 400px;
     height: 200px;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
     padding: 20px;
 }

 .current_day_info_box {
    display: flex;
    justify-content: space-around;
    height: 130px;
    padding: 10px;
    border-bottom: 2px solid rgb(1 147 221);
 }

 .current_day_info_title {
    font-size: 12px;
    text-align: left;
    margin-right: 10px;
 }

 .current_day_info_value {
    margin-top: 20px;
    font-size: 50px;
 }

 .current_day_info_wind_kph {
    display: flex;
    padding: 10px;
 }

 .current_day_info_humidity,
 .current_day_info_cloud {
    position: relative;
 }

 .current_day_info_icon {
    fill: white;
    position: absolute;
    top: 0;
    left: -20px;
 }

 .current_day_info_icon-wind {
     fill: white;
     margin-right: 5px;
 }

 .temp_info_border {
     position: relative;
     grid-row: span 2 / span 2;
     grid-column-start: 1;
     grid-row-start: 4;
     margin-left: 30px;
     margin-bottom: 30px;
     padding: 20px;
     border-radius: 20px;
     background: linear-gradient(107deg, rgba(34,135,203,255) 0%, rgba(70,165,222,255) 100%);
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
     height: 220px;
     width: 500px;
 }

.temp_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: linear-gradient(107deg, rgba(22,157,239,255) 0%, rgba(85,186,238,255) 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 200px;
    width: 480px;
    display: flex;
    justify-content: space-around
}

.temp_info_box {
    display: flex;
    padding: 20px;
    font-size: 120px;
    align-items: center;
}

.temp_info_second_box {
    width: 142px;
    padding: 20px;
    border-left: 2px solid rgb(1 147 221);
    font-size: 12px;
}

.temp_info_second_box p:last-child {
    font-size: 30px;
    text-align: center;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 1;
}
